*{    
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body{
    background-color: #EDECED; 
}

.container{
    width: 100%;
    height: 70%;
    margin-top:10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rich-text{
    background-color: white;
    width:70%;
    height:90%;
    box-shadow: 2px 2px 30px #c89c91;
}

.botoes{
    width: 70%;
    height:150px;
}

.botoes li, .botoes li button{
    display: inline-block;
    background-color: white;
    color: red;
    border:transparent;
    cursor: pointer;
    margin: auto 10px;
    padding:5px;
}

.botoes li button:hover{
    background-color: rgb(101, 63, 151);
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea{
    position: relative;
    width: 90%;
    height: 364px;
    resize: none;    
    display: inline-block;
    bottom: 0px ;
    border-style: hidden;
    padding-top: 30px;
    padding-left: 30px;

}

textarea:focus { 
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 2px #719ECE;
}
